<p>
  product-form works!
</p>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label for="name">
    Name:
    <input type="text" formControlName="name" required>
  </label>
  <br/>
  <label for="description">
    Description:
    <textarea name="description"
      id="description" cols="30"
      rows="10" formControlName="description">
    </textarea>
  </label>
  <br/>
  <label for="price">
    Price:
    <input type="number" formControlName="price" required>
  </label>
  <br/>
  <label for="available">
    <input type="checkbox" formControlName="available"> Available
  </label>
  <br/>
  <label for="on_sale">
    <input type="checkbox" formControlName="on_sale"> On Sale
  </label>
  <br/>
  <label for="image_url">
    <input type="file" formControlName="image_url"> Image
  </label>
  <br/>
  <label for="category">
    <select name="category_id" formControlName="category_id">
      <option [value]="null" disabled>Choose Category</option>
      <option *ngFor="let category of categories" [value]="category._id">
        {{ category.name }}
      </option>
    </select>
  </label>
  <br/>
  <button type="submit" [disabled]="!productForm.valid">Save</button>
</form>
