<p>
  product works!
</p>
<app-product-form (savingProduct)="addProduct($event)"></app-product-form>
<table *ngIf="products.length > 0">
  <th>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Price</td>
      <td>Available</td>
      <td>On Sale</td>
      <td>Category</td>
    </tr>
  </th>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.price }}</td>
    <td><input type="checkbox" disabled [value]="product.available"> Available</td>
    <td><input type="checkbox" disabled [value]="product.on_sale"> On Sale</td>
    <td>{{ product.category.name }}</td>
  </tr>
</table>
