<p>
  category admin works!
</p>
<app-category-form (savingCategory)="onSaving($event)"></app-category-form>
<table *ngIf="categories">
  <tr>
    <td>Tên</td>
    <td>Nội dung</td>
    <td></td>
  </tr>
  <tr *ngFor="let category of categories">
    <td><input [(ngModel)]="category.name" [disabled]="!isEditing"></td>
    <td><input [(ngModel)]="category.description" [disabled]="!isEditing"></td>
    <td>
      <button *ngIf="!isEditing" (click)="isEditing = true">Edit</button>
      <button *ngIf="isEditing" (click)="onUpdate(category)">Save</button>
      <button (click)="onDelete(category._id)">Delete</button>
    </td>
  </tr>
</table>
